@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gilroy-Light.eot");
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Gilroy-Light.woff") format("woff"),
         url("../fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Gilroy-ExtraBold.eot");
    src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
         url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
} 

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, 
*::before,
*::after { 
    -webkit-box-sizing: inherit; 
            box-sizing: inherit; 
}

body {
    min-width: 1440px;
    margin: 0;
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    font-size: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.logo {
    margin: 0; 
    margin-top: -1px;
    margin-left: -3px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo__link {
    color: #000000;
    font-size: 48px;
    line-height: 1;
    text-decoration: none;
}

.logo__link:hover {
    opacity: 0.6;
}

.logo__link:active {
    opacity: 0.3;
}

.header__logo {
    margin-bottom: 9px;
}

.footer__logo .logo__link {
    color: #ffc600;
}

.footer__logo:hover .logo__link {
    opacity: 0.6;
}

.footer__logo:active .logo__link {
    opacity: 0.3;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.paragraph {
    margin: 0;
    color: #464646;
}

.interactive-link {
    display: block;
    z-index: 1;
    position: relative;
    width: 220px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.5px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.interactive-link::before {
    display: block;
    z-index: -1;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background-color: #f0c52e;
    content: "";
}

.interactive-link:hover::before {
    height: 40px;
    margin-top: -20px;
}

.interactive-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header__inner {
    width: 1160px;
    min-height: 226px;
    padding-top: 17px;
    padding-right: 60px;
    padding-left: 60px;
    background: -webkit-linear-gradient(top, #ffffff 40px, #f7e296 40px, #f7e296 140px);
    background: -o-linear-gradient(top, #ffffff 40px, #f7e296 40px, #f7e296 140px);
    background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px, #f7e296 140px);
}

.header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__row--bottom {
    margin-top: 28px;
}

.header__search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 520px;
    padding-right: 20px;
}

.header__search {
    display: block;
    position: relative;
    width: 355px;
    height: 49px;
    padding-left: 40px;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    background-image: url("../img/search.svg");
    background-position: 3px 16px;
    background-repeat: no-repeat;
    line-height: 45px;
}

.header__search:focus {
    border-bottom: 2px solid #000000;
}

.header__search::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.header__search:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.header__search::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.header__search::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.header__search:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header__search:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header__search:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header__search:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header__search-button {
    display: block;
    visibility: hidden;
    width: 85px;
    height: 49px;
    padding-right: 19px;
    padding-left: 19px;
    border: 2px solid #000000;
    background-color: transparent;
    font-size: 15px;
    line-height: 45px;   
} 

.header__search:focus + .header__search-button {
    visibility: visible;
}

.header__search:focus + .header__search-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.header__search:focus + .header__search-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.header__user-list {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 520px;
    padding-left: 20px;
}

.user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.header__user-list .user-list__item--username {
    margin-right: 23px;
}

.user-list__item--compare {
    margin-right: 41px;
}

.user-list__item--login {
    margin-right: auto;
}

.header__user-list .user-list__item--logout {
    margin-right: 64px; 
}

.user-list__item--cart {
    margin-right: 0;
}

.user-list__link {
    color: #000000;
    text-decoration: none;
}

.user-list__link:hover {
    opacity: 0.6;
}

.user-list__link:active {
    opacity: 0.3;
} 

.user-list__item--logout .user-list__link {
    opacity: 0.3;
}

.user-list__item--logout:hover .user-list__link {
    opacity: 0.6;
}

.user-list__icon {
    margin-right: 8px;
}

.user-list__item--login .user-list__icon {
    margin-right: 10px;
}

.header__catalog-button {
    margin-right: auto;
    padding: 0;
    padding-top: 2px;
    padding-right: 35px;
    border: none;
    background-color: transparent;
    background-image: url(../img/plus.svg);
    background-position: 230px 6px;
    background-repeat: no-repeat;
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.4px;
    line-height: 24px;
    text-transform: uppercase;
    word-spacing: 1px;
    cursor: pointer;
}

.header__catalog-button:hover .header__catalog-menu {
    display: block;
}

.header__catalog-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.header__catalog-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px;
    letter-spacing: 3.5px;
}

.navigation__item:first-child {
    margin-right: 35px;
}

.navigation__item:last-child {
    margin-left: auto;
}

.navigation__link {
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none; 
    text-transform: uppercase;
}

.navigation__link:hover {
    opacity: 0.6;
}

.navigation__link:active {
    opacity: 0.3;
}

.footer__navigation .navigation__link {
    color: #ffffff;
}

.header__catalog-menu {
    display: none;
    z-index: 15;
    position: absolute;
    top: 25px;
    left: 0;
    width: 1160px;
    min-height: 160px;
    margin-left: -60px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #f7e296;
}

.header__catalog-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 18px;
}

.header__catalog-list {
    width: 200px;
}

.header__catalog-list--first {
    margin-right: 40px;
}

.header__catalog-link {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.1px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
}

.header__catalog-link:hover {
    opacity: 0.6;
}

.header__catalog-link:active {
    opacity: 0.3;
}

.main {
    position: relative;
}

.main__slider-section {
    min-height: 594px;
}

.slider {
    position: relative;
    background: -webkit-linear-gradient(top, #f7e296 113px, #fff 113px, #fff 200px);
    background: -o-linear-gradient(top, #f7e296 113px, #fff 113px, #fff 200px);
    background: linear-gradient(to bottom, #f7e296 113px, #fff 113px, #fff 200px);
    counter-reset: slide;
} 

.slider::before {
    position: absolute;
    top: 39px;
    right: 460px;
    width: 100px;
    height: 7px;
    background-color: #fff;
    content: "";
} 

.slider__toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 329px;
    right: 83px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 78px;
}

.slider__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #050505;
    border-radius: 50%;
}

.slider__toggle--active::before {
    position: absolute;
    top: 50%;
    top: 50%;
    left: 2px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border: 1px solid #050505;
    border-radius: 50%;
    content: "";
}

.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
}

.slide-first {
    /* display: none; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slide-second {
    /* display: flex; */
    display: none;
}

.slide-third {
    /* display: flex; */
    display: none;
}

.slide::before {
    position: absolute;
    top: 64px;
    right: 48px;
    color: #fff;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 181px;
    font-weight: bold;
    content: counter(slide, decimal-leading-zero);
    counter-increment: slide;
}

.slide__image-box {
    width: 520px;
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 20px;
}

.slide__image {
    margin-left: 10px;
}

.slide-second .slide__image {
    margin-top: 12px;
    margin-left: 36px;
}

.slide-third .slide__image {
    margin-top: 65px;
    margin-left: -30px;
}

.slide__content {
    position: relative;
    width: 520px; 
    padding-top: 81px;
    padding-right: 20px;
    padding-left: 19px;
}

.slide__title {
    position: relative;
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 56px;
}

.slide__paragraph  {
    margin-top: 19px;
    margin-bottom: 43px;
    letter-spacing: 0.1px;
}

.slide__interactive-link {
    margin-top: 51px;
}

.slide__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 480px;
    margin: 0;
    margin-top: 58px;
    text-align: left;
}

.slide__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 80px;
}

.slide__inner:last-child {
    margin-right: 0;
}

.slide__parameter { 
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;  
    line-height: 48px;
}

.slide__value {
    margin: 0;
    margin-top: 7px;
    color: #464646;
    font-size: 13px;
    line-height: 20px;
}

/* Карточки разделов товаров. */

.products {
    min-height: 322px;
}

.products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.products__item {
    width: 160px;
    margin-right: 40px;
}

.products__item:last-child {
    margin: 0;
}

.products__link {
    display: block;
    text-decoration: none;
}

.products__image {
    fill:#363636;
}

.products__image--monopods {
    margin-top: 40px;
}

.products__image--cameras {
    margin-top: 3px;
    margin-left: 8px;
}

.products__image--bracelets {
    margin-top: 5px;
    margin-left: 2px;
}

.products__image--watches {
    margin-top: 2px;
    margin-left: 5px;
}

.products__image--quadcopter {
    margin-top: 7px;
    margin-left: -2px;
}

.products__link:hover .products__image-box {
    background-color: #f0c52e;
}

.products__link:active .products__image {
    fill: #b89a30;
}

.products__link:active  .products__title {
    opacity: 0.3;
}

.products__image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0;
    background-color: #f7e296;
}

.products__title {
    margin: 0;
    margin-top: 33px;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.main__slider-section--services {
    min-height: 388px;
    background: -webkit-linear-gradient(top, #ffffff 100px, #e5e5e5 100px, #e5e5e5 288px);
    background: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px, #e5e5e5 288px);
    background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px, #e5e5e5 288px);
}

.slider-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider-services__toggles { 
    width: 284px;
    padding-top: 68px;
    padding-bottom: 60px;
    border-right: 7px solid #000000;
}

.slider-services__toggle {
    z-index: 1; 
    position: relative;
    width: 160px;
    padding: 20px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.7px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.slider-services__toggle--active {
    color: #f7e184;
}

.slider-services__toggle.slider-services__toggle--active::before {
    display: block;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 280px;
    height: 40px;
    margin-top: -20px;
    background-color: #000000;
    content: ""; 
}

.slider-services__toggle::before {
    display: block;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 160px;
    height: 8px;
    margin-top: -3px;
    background-color: #f0c52e;
    content: "";
}

.slider-services__toggle:hover::before {
    height: 40px;
    margin-top: -20px;
}

.slider-services__toggle:active::before {
    width: 278px;
    height: 40px;
    margin-top: -20px;
    background-color: #000000;
}

.slider-services__toggle:active {
    color: #f7e184;
}

.slider-services__slide {
    width: 876px;
    width: 876px;
    padding-top: 73px;
    padding-left: 117px;
}

.slider-services__slide--delivery {
    display: block;
    background-image: url("../img/delivery-slider.png");
    background-position: 673px 85px;
    background-repeat: no-repeat;
}

.slider-services__paragraph {
    margin-top: 32px;
    padding-right: 310px;
    letter-spacing: 0.2px;
}

.slider-services__slide--warranty {
    display: none;
    background-image: url("../img/warranty-slider.png");
    background-position: 659px 61px;
    background-repeat: no-repeat;
}

.slider-services__slide--credit {
    display: none;
    background-image: url("../img/credit-slider.png");
    background-position: 650px 61px;
    background-repeat: no-repeat;
}

.slider-services__slide--credit .slider-services__paragraph {
    padding-right: 325px;
}

.section-title {
    margin: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 48px;
}

.section-title--decoration {
    position: relative;
}

.section-title--decoration::before {
    position: absolute;
    bottom: 93px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

/* БРЕНДЫ ПРОИЗВОДИТЕЛИ */

.brands {
    min-height: 288px;
    padding-top: 94px;
}

.brands__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.brands__item {
    position: relative;
    width: 260px;
    margin-right: 40px;
}

.brands__item:last-child {
    margin-right: 0;
}

.brands__item::before {
    display: block;
    position: absolute;
    width: 260px;
    height: 100px;
    content: "";
}

.brands__item--dji::before {
    background-image: url("../img/logo-1.jpg");
}

.brands__item--adgets::before {
    background-image: url("../img/logo-2.jpg");
}

.brands__item--gopro::before {
    background-image: url("../img/logo-3.jpg");
}

.brands__item--vive::before {
    background-image: url("../img/logo-4.jpg");
}

.brands__item:hover::before {
    display: none;
}

 /* О НАС */

.about-us {
    width: 580px;
    min-height: 654px;
    padding-top: 51px;
    padding-right: 20px;
}

.about-us__paragraph {
   margin-top: 44px;
   padding-right: 85px; 
}

.about-us__paragraph--bottom {
    margin-top: 29px;
}

.about-us__list {
    margin-top: 66px;
    padding-left: 35px;
    letter-spacing: 1px;
}

.about-us__item {
    position: relative;
}

.about-us__item::before {
    position: absolute;
    top: 17px;
    left: -34px;
    width: 8px;
    height: 8px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    content: "";   
}

.about-us__link {
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
}

.about-us__interactive-link {
    width: 260px;
    margin-top: 62px;
}

/* КОНТАКТЫ  */

.contacts {
    width: 580px;
    padding-top: 51px;
    padding-left: 20px;
}

.contacts__paragraph {
    margin-top: 43px;
}

.contacts__map {
    margin-top: 39px;
}

.contacts__interactive-link {
    width: 260px;
    margin-top: 68px;
}

/* ПОДВАЛ  */

.footer {
    position: relative;
    min-height: 323px;
    padding-top: 60px;
    background-color: #464646;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__row--middle {
    margin-top: 23px;
}

.footer__row--bottom {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 61px;
}

.footer__row--bottom::after {
    position: absolute;
    bottom: 21px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    content: "";
}

.footer__navigation .navigation__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 3px;
}

.footer__navigation .navigation__item {
    margin: 0;
    padding-right: 17px;
    padding-left: 17px;
}

.footer__user-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 520px;
    padding-left: 20px;
}

.footer__user-list .user-list__item--login {
    margin-right: 46px;
}

.footer__user-list .user-list__item--username {
    margin-right: 24px;
}

.footer__user-list .user-list__item--logout {
    margin-right: 44px;
}

.footer__user-list .user-list__item--cart {
    margin-right: 0;
}

.footer__link {
    color: #fff;
    line-height: 36px;
}

.footer__link .user-list__icon {
    margin-right: 7px;
    fill: #ffc600;
}

.footer__link:hover .user-list__link-content {
    opacity: 1;
}

.footer__link:active .user-list__link-content {
    opacity: 0.3;
}

.footer__link:hover .user-list__icon {
    opacity: 0.6;
}

.footer__link:active .user-list__icon {
    opacity: 0.3;
}

.user-list__link-content {
    opacity: 0.6;
}

.footer__adress {
    margin: 0;
    color: #ffffff;
} 

.footer__contact-phone {
    color: #ffffff;
    text-decoration: none;
}

.footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 141px;
    margin-right: 483px;
}

.footer__social-icon {
    fill: #7e7e7e;
}

.footer__social-icon:hover {
    fill: #b5b5b5;
}

.footer__social-icon:active {
    fill: #595959;
}

.footer__copyright {
    display: block;
    margin-top: -2px;
}

.footer__copyright-logo {
    fill: #ffc600;
}

.footer__copyright:hover .footer__copyright-logo {
    fill: #b5931c;
}

.footer__copyright:active .footer__copyright-logo {
    fill: #7e6d31;
}

/* МОДАЛЬНЫЕ ОКНА  */

.modal {
    display: none;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

@-webkit-keyframes bounce {
    0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    }
  
    70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    }
  
    90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
  
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
    }
  
    70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    }
  
    90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
  
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
}

.modal-contact {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 960px;
    min-height: 553px;
    margin-top: -276px;
    margin-left: -480px;
    padding-top: 93px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: #ffffff;
}

.contact-form__item {
    display: inline-block;
    width: 360px;
    margin: 0;
}

.contact-form__item--mail {
    float: right;
}

.contact-form__item--textarea {
    display: block;
    width: 100%;
    margin-top: 33px;
}

.contact-form__item--textarea .contact-form__input{
    min-height: 156px;
    resize: none;
}

.contact-form__label {
    display: block;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px; 
}

.contact-form__input {
    width: 100%;
    margin-top: 7px;
    padding-top: 12px;
    padding-bottom: 15px; 
    padding-left: 17px;
    border: 3px solid transparent;
    background-color: #f2f2f2;
    letter-spacing: -0.6px;   
}

.contact-form__input:hover {
    background-color: #eaeaea;
}

.contact-form__input:focus {
    border: 3px solid #f7e296;
    background-color: transparent;
}

.modal-contact__interactive-link {
    width: 200px;
    margin-top: 44px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 23px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.modal-close:hover .modal-close__icon{
    fill: #f0c52e;
}

.modal-close:active .modal-close__icon{
    fill: #faedc0;
}

.modal-close__icon {
    fill: #f7e296;
}

.modal-map {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 960px;
    min-height: 560px;
    margin-top: -280px;
    margin-left: -480px;
    background-image: url("../img/map-big.jpg");
    background-repeat: no-repeat;
}

.modal-map iframe {
    border: none;
}

.modal-map__wrapper {
    margin: 0;
}

/* СТРАНИЦА КАТАЛОГА  */


.main__navigation {
    min-height: 179px;
    padding-top: 37px;
    padding-right: 60px;
    padding-left: 60px;
}

.main__title {
    margin: 0;
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 47px;
    font-weight: bold; 
    letter-spacing: 0.6px;
    line-height: 48px; 
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
}

.breadcrumbs__item {
    color: #c1c1c1;
}

.breadcrumbs__link {
    position: relative;
    padding-right: 38px;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    opacity: 0.3;
}

.breadcrumbs__link:hover {
    opacity: 0.6;
}

.breadcrumbs__link:active {
    opacity: 0.1;
} 

.breadcrumbs__link::before {
    position: absolute;
    top: 7px;
    right: 17px;
    width: 6px;
    height: 9px;
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    content: "";
}

.breadcrumbs__item:last-child .breadcrumbs__link::before {
    display: none;
}

.breadcrumbs__link--catalog::before {
    right: 12px; 
}

/* ФИЛЬТРЫ КАТАЛОГА */

.catalog-header {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dbdbdb), color-stop(50%, #ebebeb), to(#ebebeb));
    background: -webkit-linear-gradient(left, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
    background: -o-linear-gradient(left, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
    background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);      
}

.catalog-header__filters {
    width: 328px;
    background-color: #dbdbdb;
}

.catalog-header__filters-title {
    margin: 0;
    padding: 23px 60px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.8px;
    line-height: 24px;
    text-transform: uppercase;
}

.catalog-header__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 832px;
    background-color: #ebebeb;  
}

.catalog-header__sort-title {
    margin: 0; 
    padding: 23px 0px;
    padding-left: 71px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.7px;
    line-height: 24px;
    text-transform: uppercase;
}

.catalog-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 18px;
    margin-left: 50px;
}

.catalog-header__item {
    margin-right: 27px;
    color: #000;
    opacity: 0.3;
}

.catalog-header__item--active {
    opacity: 1;
}

.catalog-header__item:last-child {
    margin-right: 0;
} 

.catalog-header__item:hover {
   opacity: 0.6;
} 

.catalog-header__item:active {
    opacity: 1;
} 

.catalog-header__item--active {
    color: #000;
}

.catalog-header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 19px;
    margin-left: auto;
}

.catalog-header__button:last-child {
    margin-left: 19px;
}

.catalog-header__button--active .catalog-header__icon {
    fill: #231f20;
}

.catalog-header__icon {
    fill: #d3d2d2;
}

.catalog-header__icon:hover {
    fill: #a7a5a6;
}

.catalog-header__icon:active {
    fill: #231f20;
}

.catalog-wrapper {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(left, #efefef 50%, #ffffff 50%, #ffffff 100%);
    background: -o-linear-gradient(left, #efefef 50%, #ffffff 50%, #ffffff 100%);
    background: linear-gradient(to right, #efefef 50%, #ffffff 50%, #ffffff 100%);
}

.search-form {
    width: 328px;
    padding-top: 69px;
    padding-right: 68px;
    padding-left: 58px;
    background-color: #efefef;
}

.search-form__interactive-link {
    margin-left: -8px;
    letter-spacing: 3.9px;
    text-align: center;
}

.search-form__interactive-link::before {
    left: 7px;
    width: 200px;
}

.search-form__set {
    margin: 0;
    padding: 0;
    border: none;
}

.search-form__set--range {
    margin-bottom: 67px;
}

.search-form__set--checkbox {
    margin-bottom: 31px;
}

.search-form__set--radio {
    margin-bottom: 39px;
}

.search-form__title {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    border-top: 2px solid #000000;
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 18px;
    font-weight: bold; 
    letter-spacing: 0.2px;
    line-height: 24px;
}

.range {
    margin-left: 4px;
}

.range__controls {
    position: relative;
}

.range__scale {
    position: relative;
    width: 196px;
    height: 2px;
    margin-top: 35px;
    background-color: #dbdbdb;
}

.range__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 2px;
    background-color: #91c92f;
}

.range__toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
            box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
}

.range__toggle--min {
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -9px;
}

.range__toggle--max {
    top: 0;
    right: 0;
    right: 74px;
    margin-top: -10px;
}

.range__toggle:hover {
    width: 22px;
    height: 22px;
    border: 9px solid #ffffff;
}

.range__value {
    position: absolute;
    width: 60px;
    margin: 0;
    border: none;
    background: transparent;
    color: #cfcfcf;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.range__value--min {
    top: 10px;
    left: 0px;
    margin-left: -4px;
}

.range__value--max {
    top: 10px;
    right: 52px;
}

.search-form__list {
    margin-top: 18px;
}

.search-form__item {
    margin: 0;
}

.search-form__label {
    position: relative;
    width: 100%;
    padding-left: 40px;
    font-size: 14px;
    line-height: 40px;
}

/* ЧЕКБОКСЫ */

.search-form__label--checkbox::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 29px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    content: "";
}

.search-form__checkbox:hover + .search-form__label--checkbox::before {
    background-image: url("../img/checkbox-off-hover.svg");
}

.search-form__checkbox:disabled + .search-form__label--checkbox::before {
    background-image: url("../img/checkbox-off-disabled.svg");
}

.search-form__checkbox:disabled + .search-form__label--checkbox {
    color: #b0b0b0;
}

.search-form__checkbox:checked:disabled + .search-form__label--checkbox::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.search-form__checkbox:checked:disabled + .search-form__label--checkbox {
    color: #b0b0b0;
}

.search-form__checkbox + .search-form__label--checkbox::before {
    cursor: pointer;
}

.search-form__checkbox:checked + .search-form__label--checkbox::before {
    background-image: url("../img/checkbox-on.svg");
}

.search-form__checkbox:checked:hover + .search-form__label--checkbox::before {
    background-image: url("../img/checkbox-on-hover.svg");
}

.search-form__checkbox:focus + .search-form__label--checkbox::before {
    outline: auto;
}

.search-form__checkbox:focus:checked + .search-form__label--checkbox::before {
    outline: auto;
}

/* РАДИОБАТОНЫ */

.search-form__label--radio::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    content: "";
}

.search-form__radio:hover + .search-form__label--radio::before {
    background-image: url("../img/radio-off-hover.svg");
}

.search-form__radio:checked + .search-form__label--radio::before {
    background-image: url("../img/radio-on.svg");
}

.search-form__radio:checked:hover + .search-form__label--radio::before {
    background-image: url("../img/radio-on-hover.svg");
}

.search-form__radio:checked:disabled + .search-form__label--radio::before {
    background-image: url("../img/radio-on-disabled.svg");
}

.search-form__radio:checked:disabled + .search-form__label--radio {
    color: #b0b0b0;
}

.search-form__radio:disabled + .search-form__label--radio::before {
    background-image: url("../img/radio-off-disabled.svg");
}

.search-form__radio:disabled + .search-form__label--radio {
    color: #b0b0b0;
}

.search-form__radio:focus + .search-form__label--radio::before {
    outline: auto;
}

/* СЕТКА КАРТОЧЕК ТОВАРОВ */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 760px;
    margin-top: 31px;
    background-color: #ebebeb;
}

.pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 21px;
    text-align: center;
}

.pagination__link {
    padding-top: 23px;
    padding-right: 28px;
    padding-bottom: 22px;
    padding-left: 30px;  
    background-color: #ebebeb;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.pagination__link:hover {
    background-color: #d9d9d9;
}

.pagination__link:active {
    opacity: 0.3;
}

.pagination__link-number {  
    padding-top: 0;
    padding-right: 12px;
    padding-bottom: 0;
    padding-left: 19px;
    color: #000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    opacity: 0.3;
}

.pagination__link-number:hover {
    opacity: 0.6;
}

.pagination__link-number:active {
    opacity: 1;
}

.pagination__link-number--active {
    opacity: 1;
}

.catalog {
    width: 832px; 
    padding-bottom: 78px;
    padding-left: 72px;
    background-color: #ffffff;
}

.catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 69px;
}

.catalog__item {   
    position: relative;
    width: 360px;
    margin-top: 42px;
}

.catalog__item:nth-child(-n+2) {
    margin-top: 0;
}

.catalog__image {
    display: block;
}

.catalog__item-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 379px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.catalog__item-hover .catalog__interactive-link {
    width: 200px;
}

.catalog__item:hover .catalog__item-hover {
    display: block;
}

.catalog__interactive-link {
    display: block;
    margin: 0 auto;
    margin-top: 180px;
}

.catalog__add-to-compare { 
    display: block;
    margin-top: 20px;
    border: none;
    background-color: transparent;   
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}

.catalog__add-to-compare:hover {
    opacity: 1; 
} 

.catalog__add-to-compare:active {
    opacity: 0.2;
} 

.catalog__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.catalog__description::before {
    display: none;
    position: absolute;
    right: 28px;
    bottom: 375px;
    width: 60px;
    height: 60px;
    padding-top: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    content: "New";
    opacity: 0.2;
}

.catalog__item--new .catalog__description::before {
    display: block;
}

.catalog__item--second .catalog__description,
.catalog__item--fourth .catalog__description {
    margin-top: 32px;
}

.catalog__link {
    color: #000000;
    text-decoration: none;
}

.catalog__title {
    display: inline-block;
    margin: 0;
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 18px;
    font-weight: bold; 
    letter-spacing: 0.2px;
    line-height: 24px;
    word-break: keep-all;
}

.catalog__price { 
    padding-top: 2px;
    color: #464646;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 24px;
    white-space: nowrap; 
} 
